<div class="card mt-3 mb-3 text-center">
    <h5 class="card-header">@Name</h5>
    <div class="card-body">
        <h6 class="card-subtitle">@Stars</h6>
    </div>
    <div class="text-center">
        <span style="height: 189px; width: 185px; border: solid 2px; border-radius: 50%; display: inline-block; background-color: floralwhite">
            <img width="185" height="185" style="border-radius: 50%;" src="@PictureURL" />
        </span>
    </div>
    <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item">
            <span style="height: 50px; width: 50px; border: solid 2px; border-radius: 50%; display: inline-block; background-color: floralwhite">
                <img src="@MaterialURL" width="50px" height="50px" style="border-radius: 50%;" />
            </span>
            <strong>@Material</strong>
            </li>
        <li class="list-group-item">
            <a href="@LocationURL" target="_blank">Map Location of domain that has @Material</a>
        </li>
    </ul>
    <div class="card-body">
        <input type="submit" class="@ButtonClass" value="Done" @onclick="DoneClick"/>
    </div>
</div>

