@page "/characters"
@using GenshinTools.BlazorUI.Pages.Components;
@using GenshinTools.BlazorUI.Shared;

<PageTitle>Characters</PageTitle>

<div class="container mt-3">
    <h3>Today is <strong>@getWeekDay()</strong>! These are your characters that need their talents upgraded:</h3>
</div>

<AuthorizeView>
    <Authorized>
        <div class="container">
            @if (Characters == null)
            {
                <p>Loading Data...</p>
            }
            else
            {
                if (Characters.Any())
                {
                    <div class="row">
                        @foreach (var character in Characters)
                        {
                            <div class="col" style="min-width: 25%; max-width: 25%">
                                <CharCard Id="@character.Id" Name="@character.Name" PictureURL="@character.PictureURL"
                                Material="@character.TalentMaterial" MaterialURL="@character.TalentMaterialPictureURL"
                                LocationURL="@character.DomainLocationURL" Quality="@character.Quality" ButtonClass="btn btn-success btn-lg"
                                OnDone="DoneCharacter" />
                            </div>
                        }
                    </div>
                }
                if (DoneCharacters.Any())
                {
                    <div class="container mt-3">
                        <h3><strong>Great job!</strong> These are the characters that you already did:</h3>
                    </div>
                    <div class="row">
                        @foreach (var character in DoneCharacters)
                        {
                            <div class="col" style="min-width: 25%; max-width: 25%">
                                <CharCard Id="@character.Id" Name="@character.Name" PictureURL="@character.PictureURL"
                                          Material="@character.TalentMaterial" MaterialURL="@character.TalentMaterialPictureURL"
                                          LocationURL="@character.DomainLocationURL" Quality="@character.Quality" ButtonClass="btn btn-danger btn-lg"
                                          OnDone="CancelCharacter" />
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>